<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>welcome</title>
        {% endif %}
    </head>

    <body>
        <div>
            Goto:

                <a href="/"><input type="button" value="Index"></a>
                <a href="/signin"><input type="button" value="Signin"></a>
                <a href="/signup"><input type="button" value="Signup"></a>
        </div>
    <hr>
        {% block content %}{% endblock %}
    </body>
</html>